::placeholder {
    color: #666;
}

::selection {
    background-color: $accent;
    color: #fff;
}

* {
    -webkit-font-smoothing: antialiased; // сглаживание шрифтов
}

input,
textarea {
    outline: none;
    box-shadow: none;

    &:focus:required:invalid {
        border-color: red;
    }

    &:required:valid {
        border-color: green;
    }
}


a,
label {
    -webkit-tap-highlight-color: transparent;
}


a {
    color: $text;
    cursor: pointer;
    transition: $transition;

    &:hover,
    &:active {
        color: $accent;
        text-decoration: none;
    }

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button {
    background: transparent;
    padding: 0;
    margin: 0;
    border: 0;
    cursor: pointer;
    transition: $transition;

    &:hover {
        color: $accent;
    }

    &:active,
    &:focus {
        outline: 0;
    }
}

.btn {
    color: #fff;
    background-color: $accent;
    border: 2px solid $accent;
    height: 44px;
    padding: 15px 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: $dark_green;
        border-color: $dark_green;
        color: #fff;
    }
}

.transparent-btn {
    background-color: transparent;
    color: $accent;

    &:hover {
        color: #fff;
        border-color: $accent;
        background-color: $accent;
    }
}

.show {
    display: block;
}
	
.hide {
    display: none;
}

body {
    font-size: 16px;
    min-width: 320px;
    position: relative;
    line-height: 1.38;
    font-family: 'Geometria', sans-serif;
    overflow-x: hidden;
    color: $text;
}


picture {
    display: block;
    text-align: center;
    margin: 0px auto;
}


.resize-animation-stopper * {
    animation: none !important;
    transition: none !important;
}