.advantages {
    background-color: $dark;
    width: 100%;
    position: relative;

    &-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        &__img {
            width: 65%;
            display: block;
        }

        &__wrap {
            width: 630px;
            position: relative;
            right: calc(50% - 580px);
        }

        &__title {
            font-size: 66px;
            color: $accent;
            font-weight: 900;
            text-transform: uppercase;
            line-height: 1.06;
            opacity: 0;
            animation-duration: .8s;

            span {
                color: #fff;
            }
        }

        &__lead {
            font-size: 24px;
            display: flex;
            align-items: flex-end;
            margin-top: -40px;
            margin-bottom: 30px;
            opacity: 0;
            animation-duration: .8s;

            .num {
                letter-spacing: -8px;
                line-height: normal;
                position: relative;
                top: 32px;
                color: $accent;
                font-size: 150px;
                font-weight: 300;
            }

            p {
                margin-bottom: 0;
                line-height: normal;
                width: 210px;
                position: relative;
                left: -30px;

                b {
                    font-weight: 900;
                }
            }
        }

        &__text {
            margin-bottom: 30px;
            line-height: 30px;
            font-size: 18px;
            opacity: 0;
            animation-duration: .8s;
            width: 550px;
        }

        &__btn {
            color: #fff;
            width: 144px;
            opacity: 0;
            animation-duration: .8s;
        }
    }

    &-block1 {
        z-index: 1;

        .advantages-block__title {
            width: 550px;
        }
    }

    &-block2 {
        z-index: 2;
        margin-top: -30px;

        .advantages-block {
            &__wrap {
                left: calc(50% - 620px);
            }

            &__lead {
                p {
                    width: 280px;
                }

                .num {
                    z-index: 0;
                }
            }
            
            &__img {
                width: auto;
                height: 70%;
                object-fit: contain;
                overflow: hidden;
            }
        }
    }

    &-block3 {
        .advantages-block {
            &__lead {
                p {
                    left: -10px;
                }
            }

            &__btn {
                width: 175px;
            }

            &__img {
                margin-top: -200px;
                max-width: 1000px;
            }
        }
    }
}

@media screen and (max-width: 1500px) {
    .advantages {
        padding-top: 100px;

        &-block1 {
            margin-bottom: 80px;
        }

        &-block2 {
            margin-bottom: 100px;
        }

    }
}

@media screen and (max-width: 1300px) {
    .advantages {
        &-block__wrap {
            right: calc(50% - 500px);
        }
    }
}