.catalog {
    color: $dark;

    &-container {
        width: 1170px;
        margin: 0px auto;
    }

    &-head {
        width: 100%;
        margin-top: 35px;

        &__row {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__title {
            text-align: center;
            margin: 0px auto;
            font-weight: 900;
            font-size: 50px;
        }

        &__desc {
            width: 590px;
            margin-bottom: 25px;
            font-size: 18px;
        }

        &__more {
            font-weight: 500;
            font-size: 18px;
            color: $accent;
        }
    }

    &-view {
        display: flex;
        align-items: center;
        width: 100%;
        margin-top: 50px;
        position: relative;

        &__title {
            font-weight: 500;
            margin-right: 20px;
        }

        form {
            display: flex;
            align-items: center;

            input[type="radio"] {
                display: none;

                &:checked+label {
                    color: $accent;

                    svg path {
                        fill: $accent;
                    }
                }
            }

            svg {
                position: relative;
                top: 2px;

                path {
                    fill: $dark;
                    transition: $transition;
                }
            }


            label {
                transition: $transition;
                display: flex;
                align-items: center;
                margin-bottom: 0;

                &:hover {
                    color: $accent;
                    cursor: pointer;

                    svg path {
                        fill: $accent;
                    }
                }

                span {
                    margin-left: 10px;
                    margin-right: 20px;
                }
            }

        }
    }

    &-print {
        cursor: pointer;
        font-weight: 500;
        position: absolute;
        right: 0;
        transition: $transition;
        display: flex;
        align-items: center;

        svg path {
            fill: $dark;
            transition: $transition;
        }

        span {
            margin-left: 5px;
        }

        &:hover {
            color: $accent;

            svg path {
                fill: $accent;
            }
        }
    }
}