.catalog {
    color: $dark;

    &-container {
        width: 1170px;
        margin: 0px auto;
    }

    &-head {
        width: 100%;
        margin-top: 35px;

        &__row {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__title {
            text-align: center;
            margin: 0px auto;
            font-weight: 900;
            font-size: 50px;
        }

        &__desc {
            width: 590px;
            margin-bottom: 25px;
            font-size: 18px;
        }

        &__more {
            font-weight: 500;
            font-size: 18px;
            color: $accent;
        }
    }

    &-view {
        display: flex;
        align-items: center;
        width: 100%;
        margin-top: 50px;
        position: relative;

        &__title {
            font-weight: 500;
            margin-right: 20px;
        }

        form {
            display: flex;
            align-items: center;

            input[type="radio"] {
                display: none;

                &:checked+label {
                    color: $accent;

                    svg path {
                        fill: $accent;
                    }
                }
            }

            svg {
                position: relative;
                top: 2px;

                path {
                    fill: $dark;
                    transition: $transition;
                }
            }


            label {
                transition: $transition;
                display: flex;
                align-items: center;
                margin-bottom: 0;

                &:hover {
                    color: $accent;
                    cursor: pointer;

                    svg path {
                        fill: $accent;
                    }
                }

                span {
                    margin-left: 10px;
                    margin-right: 20px;
                }
            }

        }
    }

    &-print {
        cursor: pointer;
        font-weight: 500;
        position: absolute;
        right: 0;
        transition: $transition;
        display: flex;
        align-items: center;

        svg path {
            fill: $dark;
            transition: $transition;
        }

        span {
            margin-left: 5px;
        }

        &:hover {
            color: $accent;

            svg path {
                fill: $accent;
            }
        }
    }

    &-wrapper {
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
    }

    &-filter {
        width: 280px;
        height: max-content;
        background-color: #f7f7f7;
        padding: 25px;

        input[type="checkbox"] {
            display: none;

            &:checked+label>span.catalog-filter__checkbox {
                background-image: url('img/icons/galka.svg');
                background-repeat: no-repeat;
                background-color: $dark_green;
                border-color: $dark_green;
            }
        }

        label {
            cursor: pointer;
            transition: $transition;
            margin-bottom: 10px;
            display: flex;

            &:hover {
                color: $accent;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        &__checkbox {
            border: 2px solid $dark;
            width: 18px;
            height: 18px;
            display: inline-table;
            margin-right: 10px;
            margin-top: 2px;
            vertical-align: sub;
            transition: $transition;
            background-size: 10px;
            background-position: 50%;
        }

        &__title {
            font-weight: 500;
            font-size: 18px;
            margin-bottom: 10px;
            margin-top: 25px;
        }

        &__caption {
            font-size: 12px;
            line-height: 16px;
            color: #999999;
            margin-top: 10px;
        }

        &__exist {
            margin: 0 -25px;
            padding: 0 25px;
            height: 47px;
            border-bottom: 2px solid #fff;
        }

        &__clear {
            margin: 0 -25px;
            margin-top: 25px;
            padding: 0 25px;
            border-top: 2px solid #fff;
            padding-top: 25px;

            button {
                border-bottom: 1px dashed $dark;
                font-weight: 500;
            }
        }
    }

    &-output {
        width: 865px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-top: 2px;

        &__head {
            display: none;
        }

        &__more {
            width: 100%;
            padding-top: 40px;
            padding-bottom: 60px;
            
            button {
                margin: 0px auto;
            }
        }        
    }

    &-description {
        width: 100%;
        padding-top: 30px;
        padding-bottom: 40px;
        background-color: #e6e6e6;

        &__title {
            font-size: 34px;
            text-align: center;
            margin-bottom: 20px;
        }

        &__text {
            width: 770px;
            margin: 0px auto;
            font-size: 18px;
            position: relative;
            transition: $transition;
            line-height: 30px;

            p {
                margin-bottom: 15px;
            }

            a {
                font-weight: 500;
                color: $dark;
            }
        }

        &__text.show {

            .catalog-description__shadow {
                opacity: 0;
            }
        }

        &__btn {
            text-align: center;
            display: block;
            margin: 0px auto;
            margin-top: 25px;
            color: $accent;
            font-weight: 500;
            border-bottom: 1px dashed $accent;
        }

        &__shadow {
            height: 100px;
            width: 100%;
            bottom: 0;
            opacity: 1;
            transition: $transition;
            position: absolute;
            background-image: linear-gradient(to bottom, rgba(247, 247, 247, 0), #e6e6e6);
        }
    }

    &-exist {
        background-color: $dark_green;
        padding-top: 30px;
        padding-bottom: 30px;
        color: #fff;
        width: 100%;

        &__title {
            font-size: 34px;
            color: #fff;
            text-align: center;
            margin-bottom: 20px;
        }

        &__text {
            width: 460px;
            text-align: center;
            color: #fff;
            display: block;
            margin: 0px auto;
            margin-bottom: 20px;
            line-height: 30px;
            font-size: 18px;
        }

        &__btn {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }

    &-item {
        width: 290px;
        height: 270px;
        border: 2px solid #d6d6d6;
        margin-left: -2px;
        margin-top: -2px;
        color: $dark;
        position: relative;
        display: block;

        a {
            color: $dark;
        }

        &:hover {
            color: $dark;
        }
    }

    &-output.grid-view {
        .catalog-item {
            transition: $transition;

            img {
                display: block;
                margin: 0px auto;
                margin-bottom: 20px;
                margin-top: 55px;
            }

            &__model {
                font-size: 18px;
                text-align: center;
            }

            &__badges {
                position: absolute;
                top: 20px;
                right: 20px;
                z-index: 2;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }

            &__badge {
                font-size: 10px;
                border: 2px solid $accent;
                background-color: #fff;
                padding: 3px 10px;
                width: max-content;
                text-align: center;
                margin-bottom: 5px;
            }

            &__specifications {
                opacity: 0;
                position: absolute;
                z-index: 3;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #fff;
                color: $dark;
                text-align: center;
                padding-top: 20px;
                transition: $transition;
                transform-style: preserve-3d;
                border: 4px solid $accent;
            }

            &__desc {
                display: none;
            }

            &__property {
                font-size: 18px;

                &-list {
                    display: none;
                }
            }

            &__value {
                font-size: 24px;
                line-height: 34px;
                font-weight: 900;
                margin-bottom: 10px;

                &:nth-child(10) {
                    display: none;
                }
            }

            &__btn {
                color: $accent;
                align-items: center;
                margin: 0px auto;
                position: absolute;
                left: calc(50% - 50px);
                display: flex;
                z-index: 3;
                bottom: 15px;
                transition: $transition;
                opacity: 0;

                img {
                    margin: 0;
                    margin-right: 5px;
                }
            }

            &:hover {
                .catalog-item__specifications {
                    opacity: 1;
                    transform: scale(1.02);
                    transition: $transition;
                }

                .catalog-item__btn {
                    opacity: 1;
                }
            }
        }
    }

    &-output.table-view {
        border-top: 2px solid #d6d6d6;
        padding-top: 10px;
        flex-direction: column;

        .catalog-output {
            &__head {
                display: flex;
                margin-bottom: 10px;
            }

            &__sort {
                border-bottom: 1px dashed $dark;
                font-size: 14px;
            }
        }

        #sort {
            &-model {
                margin-left: 130px;
                margin-right: 275px;
            }

            &-loading {
                margin-right: 40px;
            }

            &-chassis {
                margin-right: 20px;
            }

            &-volume {
                margin-right: 10px;
            }
        }

        .catalog-item {
            width: 100%;
            height: 85px;
            margin-left: 0;
            transition: $transition;

            &:hover {
                color: $dark;
                border-color: $accent;
                z-index: 2;

                .catalog-item__btn {
                    opacity: 1;
                }
            }

            a {
                display: flex;
                align-items: center;
                width: 100%;
                height: 100%;

                &:hover {
                    color: $dark;
                }
            }

            img {
                width: 100px;
                display: block;
                object-fit: contain;
                margin-left: 10px;
                margin-right: 20px;
            }

            &__badges {
                display: none;
            }

            &__btn {
                display: flex;
                align-items: center;
                right: 27px;
                background-color: #fff;
                color: $accent;
                font-weight: 500;
                position: absolute;
                top: 0;
                height: 100%;
                opacity: 0;
                transition: $transition;

                img {
                    margin: 0;
                    width: auto;
                    margin-right: 5px;
                }
            }

            &__desc {
                display: none;
            }

            &__text {
                display: flex;
                align-items: center;
            }

            &__property {
                display: none;

                &-list {
                    display: none;
                }
            }

            &__specifications {
                display: flex;
                align-items: center;
                position: absolute;
                left: 455px;

            }

            &__value {
                white-space: nowrap;
                position: absolute;

                // шасси
                &:nth-child(9) {
                    position: absolute;
                    left: 104px;
                }

                // объём
                &:nth-child(6) {
                    left: 170px;
                }

                // масса отходов
                &:nth-child(10) {
                    left: 277px;
                }
            }


        }

    }

    &-output.list-view {
        flex-direction: column;

        .catalog-item {
            width: 100%;
            height: 210px;
            padding: 25px;
            padding-left: 20px;
            transition: all .15s ease;

            &:hover {
                color: $dark;
                border: 4px solid $accent;
                transform: scale(1.01);
                z-index: 2;

                a {
                    color: $dark;
                }

                .catalog-item__btn {
                    opacity: 1;
                }
            }

            a {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
            }

            img {
                display: block;
                object-fit: contain;
                width: 200px;
            }

            &__badges {
                position: absolute;
                top: 25px;
                left: 20px;
                z-index: 2;
                display: flex;
                flex-direction: column;
            }

            &__badge {
                font-size: 10px;
                border: 2px solid $accent;
                padding: 3px 10px;
                width: max-content;
                text-align: center;
                margin-bottom: 5px;
                background-color: #fff;
            }

            &__text {
                padding-left: 30px;
                height: 100%;
            }

            &__model {
                font-size: 20px;
                font-weight: 500;
                margin-bottom: 15px;
            }

            &__specifications {
                display: flex;
                align-items: center;
                margin-bottom: 15px;
            }

            &__property {
                display: none;
                &-list {
                    font-size: 18px;
                    margin-right: 10px;
                }
            }


            &__value {
                font-size: 18px;
                font-weight: 500;
                margin-right: 20px;

                &:nth-child(10) {
                    display: none;
                }
            }

            &__btn {
                display: flex;
                align-items: center;
                right: 20px;
                top: 25px;
                background-color: #fff;
                color: $accent;
                font-weight: 500;
                position: absolute;
                opacity: 0;
                transition: $transition;

                img {
                    margin: 0;
                    width: auto;
                    margin-right: 5px;
                }
            }
        }
    }
}