.catalog {
    color: $dark;

    &-container {
        width: 1170px;
        margin: 0px auto;
    }

    &-head {
        width: 100%;
        margin-top: 35px;

        &__row {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__title {
            text-align: center;
            margin: 0px auto;
            font-weight: 900;
            font-size: 50px;
        }

        &__desc {
            width: 590px;
            margin-bottom: 25px;
            font-size: 18px;
        }

        &__more {
            font-weight: 500;
            font-size: 18px;
            color: $accent;
        }
    }

    &-view {
        display: flex;
        align-items: center;
        width: 100%;
        margin-top: 50px;
        position: relative;

        &__title {
            font-weight: 500;
            margin-right: 20px;
        }

        form {
            display: flex;
            align-items: center;

            input[type="radio"] {
                display: none;

                &:checked+label {
                    color: $accent;

                    svg path {
                        fill: $accent;
                    }
                }
            }

            svg {
                position: relative;
                top: 2px;

                path {
                    fill: $dark;
                    transition: $transition;
                }
            }


            label {
                transition: $transition;
                display: flex;
                align-items: center;
                margin-bottom: 0;

                &:hover {
                    color: $accent;
                    cursor: pointer;

                    svg path {
                        fill: $accent;
                    }
                }

                span {
                    margin-left: 10px;
                    margin-right: 20px;
                }
            }

        }
    }

    &-print {
        cursor: pointer;
        font-weight: 500;
        position: absolute;
        right: 0;
        transition: $transition;
        display: flex;
        align-items: center;

        svg path {
            fill: $dark;
            transition: $transition;
        }

        span {
            margin-left: 5px;
        }

        &:hover {
            color: $accent;

            svg path {
                fill: $accent;
            }
        }
    }

    &-wrapper {
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
    }

    &-filter {
        width: 280px;
        background-color: #f7f7f7;
        padding: 25px;

        input[type="checkbox"] {
            display: none;

            &:checked+label>span.catalog-filter__checkbox {
                background-image: url('img/icons/galka.svg');
                background-repeat: no-repeat;
                background-color: $dark_green;
                border-color: $dark_green;
            }
        }

        label {
            cursor: pointer;
            transition: $transition;
            margin-bottom: 10px;
            display: flex;

            &:hover {
                color: $accent;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        &__checkbox {
            border: 2px solid $dark;
            width: 18px;
            height: 18px;
            display: inline-table;
            margin-right: 10px;
            margin-top: 2px;
            vertical-align: sub;
            transition: $transition;
            background-size: 10px;
            background-position: 50%;
        }

        &__title {
            font-weight: 500;
            font-size: 18px;
            margin-bottom: 10px;
            margin-top: 25px;
        }

        &__caption {
            font-size: 12px;
            line-height: 16px;
            color: #999999;
            margin-top: 10px;
        }

        &__exist {
            margin: 0 -25px;
            padding: 0 25px;
            height: 47px;
            border-bottom: 2px solid #fff;
        }

        &__clear {
            margin: 0 -25px;
            margin-top: 25px;
            padding: 0 25px;
            border-top: 2px solid #fff;
            padding-top: 25px;

            button {
                border-bottom: 1px dashed $dark;
                font-weight: 500;
            }
        }
    }

    &-output {
        width: 865px;
    }
}