.hamburger {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    background-color: $dark;
    z-index: 104;
    line-height: normal;

    &-container {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding-top: 70px;
        width: 1125px;
    }

    &-column {
        width: 152px;
        animation-duration: 0.5s;

        &:nth-child(1) {
            animation-delay: .1s;
        }

        &:nth-child(2) {
            animation-delay: .15s;
        }

        &:nth-child(3) {
            animation-delay: .2s;
        }

        &:nth-child(4) {
            animation-delay: .25s;
        }
    }

    &-column-prod {
        width: 430px;

        .hamburger-list {
            height: 110px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            margin-bottom: 45px;
        }

        li:nth-child(3) {
            margin-bottom: 0;
        }

        .hamburger-divider {
            height: 2px;
        }
    }

    &-column-contacts {
        width: 230px;

        .hamburger {
            &-tel {
                font-size: 24px;
                font-weight: 500;

                &__caption {
                    font-size: 14px;
                    margin-top: 5px;
                    margin-bottom: 20px;
                }
            }

            &-list {
                margin-top: 20px;

                li:last-child {
                    margin-bottom: 10px;
                }
            }

            &-mail {
                background: url('img/icons/mailtodo.svg') no-repeat;
                background-color: $accent;
                background-position: 14% 44%;
                color: #fff;
                display: flex;
                align-items: center;
                margin-top: 20px;
                margin-bottom: 20px;
                width: 100%;
                height: 46px;
                padding-left: 60px;
                font-weight: 500;

                &:hover {
                    background-color: #00712B;
                }
            }

            &-social {
                display: flex;
                align-items: center;
                margin-top: 20px;

                &__caption {
                    font-weight: 500;
                }

                &__icons {
                    margin-right: 5px;
                    margin-left: 10px;
                }
            }
        }
    }

    &-section {
        display: flex;
        justify-content: space-between;
        height: 150px;
        padding: 30px 0;

        &__left {
            display: block;
            width: 210px;

            img {
                width: 145px;
                margin-bottom: 10px;
            }
        }

        &__right {
            display: flex;
            flex-direction: column;
            width: 185px;
            padding-top: 12px;

            a {
                margin-bottom: 20px;
            }
        }
    }

    &-title {
        font-size: 20px;
        color: $accent;
        margin-bottom: 24px;

        &:nth-child(3) {
            margin-top: 40px;
        }
    }

    &-list {
        li {
            margin-bottom: 20px;

            a {
                line-height: 1.38;
            }
        }
    }

    &-accordeon {
        display: inline-block;

        &:after {
            content: '';
            display: inline-block;
            background: url('img/icons/caret-down.svg') no-repeat;
            width: 10px;
            height: 6px;
            margin-left: 10px;
            transition: all .1s ease;
        }

        &__list {
            padding-left: 20px;
            padding-top: 10px;
            display: none;

            li {
                margin-bottom: 0;

                a {
                    margin-bottom: 10px;
                    font-size: 14px;
                }
            }
        }
    }

    .accordeon-open {
        .hamburger-accordeon:after {
            transform: rotate(180deg);
        }
    }

    &-divider {
        background-color: #515151;
        height: 1px;
        width: 100%;
    }

    &-request-btn {
        display: block;
        margin-top: 20px;
        font-weight: 500;
        color: $accent;

        &:hover {
            color: #fff;
        }
    }
}

.hamburger-btn-wrap {
    position: fixed;
    top: 28px;
    left: 30px;
    z-index: 105;
    display: flex;
    transition: $transition;

    #hamburger-btn {
        display: none;
    }

    label {
        cursor: pointer;
        display: inline-block;
        position: relative;
        width: 30px;
        height: 14px;
        margin: 0;
        transition: all .5s;

        &:hover {

            .line,
            .line:before,
            .line:after {
                background: $accent;
            }
        }
    }

    .line,
    .line:before,
    .line:after {
        background: #fff;
        position: absolute;
        height: 2px;
        width: 30px;
        transition: all .5s;
    }

    label {
        .line:first-child {
            top: 0px;
        }

        .line:nth-child(2) {
            top: 6px;
        }

        .line:nth-child(3) {
            top: 12px;
        }
    }

    #hamburger-btn+label {
        .line:first-child {
            transition: top .15s .15s, transform .15s, background .3s;
        }

        .line:nth-child(2),
        .line:nth-child(3) {
            transition: top .15s .15s, transform .15s, background .3s;
        }
    }

    #hamburger-btn:checked+label {
        .line:first-child {
            top: 6px;
            transform: rotate(45deg);
            transition: top .15s, transform .15s .15s;
        }

        .line:nth-child(2),
        .line:nth-child(3) {
            top: 6px;
            transform: rotate(-45deg);
            transition: top .15s, transform .15s .15s;
        }
    }
}