.header {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    &-bg {
        width: 100%;
        height: 70px;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 101;
    }

    &-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 102;
        padding: 0 30px;
        width: 100%;
        height: 100%;
        position: relative;
    }

    &-btns {
        display: flex;
        align-items: center;

        &__hamburger {
            width: 30px;
            height: 14px;
            margin-right: 20px;
            position: relative;
            transition: all .5s;

            .line {
                height: 2px;
                width: 100%;
                background-color: $text;
                position: absolute;
                transition: all .5s;

                &:first-child {
                    top: 0px;
                    transition: top .15s .15s, transform .15s;
                }

                &:nth-child(2) {
                    top: 6px;
                    transition: top .15s .15s, transform .15s;
                }

                &:last-child {
                    top: 12px;
                    transition: top .15s .15s, transform .15s;
                }
            }

            &:hover {
                .line {
                    background-color: $accent;
                }
            }
        }

        .menu-open {
            .line {

                &:first-child {
                    top: 6px;
                    transform: rotate(45deg);
                    transition: top .15s, transform .15s .15s;
                }

                &:nth-child(2),
                &:last-child {
                    top: 6px;
                    transform: rotate(-45deg);
                    transition: top .15s, transform .15s .15s;
                }
            }

        }

        &__search {
            display: flex;
            align-items: center;

            svg {
                margin-right: 5px;

                path {
                    fill: $text;
                }
            }

            p {
                color: $text;
                font-size: 16px;
                margin: 0;
            }

            &:hover {
                svg path {
                    fill: $accent;
                }

                p {
                    color: $accent;
                }
            }
        }

        &__hamburger *,
        &__search * {
            transition: $transition;
        }
    }

    &-menu {
        height: 100%;
        width: 800px;

        &__container {
            display: flex;
            justify-content: space-around;
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            height: 100%;
        }

        &__btn {
            position: relative;
            cursor: pointer;
            display: flex;
            height: 100%;
            align-items: center;
            justify-content: center;

            .menu-production {
                width: 1000px;

                &__list {
                    display: inline-flex;
                    flex-direction: column;
                }

                &__container {
                    display: inline-flex;
                    width: 705px;
                    flex: 1;
                    justify-content: space-evenly;
                    padding-left: 15px;
                }

                &__column {
                    width: 160px;
                }

                &__item {
                    color: $dark;
                    font-weight: 500;

                    img {
                        width: auto;
                        height: 48px;
                        object-fit: cover;
                    }

                    &:hover {
                        color: $accent
                    }
                }

                .header-menu__divider {
                    width: 50px;
                    height: 2px;
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
            }
        }

        &__dropdown {
            display: none;
            position: absolute;
            top: 70px;
            z-index: 100;
            width: 288px;
            padding: 40px 56px 27px 40px;
            background-color: #f0f0f0;
            box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.18);
            cursor: initial;

            &:before {
                content: '';
                display: block;
                position: absolute;
                width: 22px;
                height: 22px;
                top: -9px;
                left: calc(50% - 11px);
                margin: 0px auto;
                transform: rotate(45deg);
                background-color: #f0f0f0;
            }

            ul li {
                margin-bottom: 10px;
                line-height: 1.38;

                a {
                    color: $dark;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

        }

        &__divider {
            background-color: #bebebe;
            height: 1px;
            width: 100%;
        }
    }

    &-contacts {
        color: $text;
        text-align: right;
        line-height: normal;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        &__btn {
            color: $text;
        }
    }
}

.green-header {
    .header-bg {
        background-color: $accent;
    }
}

.black-header {
    .header-bg {
        background-color: $dark;
    }
}