.header {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    &-bg {
        width: 100%;
        height: 70px;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 101;
    }

    &-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 102;
        padding: 0 30px;
        width: 100%;
        height: 100%;
        position: relative;
    }

    &-btns {
        display: flex;
        align-items: center;

        &__hamburger {
            width: 30px;
            height: 14px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            margin-right: 20px;

            .line {
                height: 2px;
                width: 100%;
                background-color: $text;
            }
        }

        &__search {
            display: flex;
            align-items: center;

            svg {
                margin-right: 5px;

                path {
                    fill: $text;
                }
            }

            p {
                color: $text;
                font-size: 16px;
                margin: 0;
            }

            &:hover {
                svg path {
                    fill: $accent;
                }

                p {
                    color: $accent;
                }
            }
        }
    }

    &-menu {
        height: 100%;
        width: 800px;

        ul {
            display: flex;
            justify-content: space-around;
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: space-around;
            height: 100%;
        }
        &__btn {
            &:hover {
                color: $text;

            }
        }
    }

    &-contacts {
        color: $text;
        text-align: right;
        line-height: normal;
        display: flex;
        flex-direction: column;
        align-items: end;
        
        &__btn {
            color: $text;
        }
    }
}

.green-header {
    .header-bg {
        background-color: $accent;
    }
}

.black-header {
    .header-bg {
        background-color: $dark;
    }
}