.product {
    &-info {
        margin-top: 30px;
        background-color: #ededed;
        padding-top: 30px;
    }

    &-tabs {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;
        
        button {
            font-size: 18px;
            font-weight: 500;
            margin: 0px 15px;
            transition: $transition;
            position: relative;

            &:hover {
                color: $dark;

                &::after {
                    width: 100%;
                }
            }

            &::after {
                content: '';
                display: block;
                position: absolute;
                top: 30px;
                width: 0%;
                height: 2px;
                transition: $transition;
                background-color: $dark;
            }
        }

        .active {
            color: $accent;

            &:hover {
                color: $accent;
            }

            &::after {
                content: '';
                display: block;
                position: absolute;
                top: 30px;
                width: 100%;
                height: 2px;
                background-color: $accent;
            }
        }
    }

    &-output {
        width: 100%;
        padding-left: 220px;
        padding-right: 180px;
    }

    &-characteristics {
        &__item {
            display: table;
            position: relative;
            width: 50%;
            margin-bottom: 20px;
        }

        &__property {
            line-height: 22px;
            position: relative;
            display: table-cell;
            vertical-align: baseline;
            padding-top: 4px;

            span {
                background-color: #ededed;
                position: relative;
                z-index: 2;
                padding-top: 6px;
                vertical-align: sub;
            }

            &:after {
                content: '';
                position: absolute;
                left: 0;
                top: 23px;
                width: 100%;
                border-bottom: 1px dashed rgba(0, 0, 0, 0.18);
            }
        }

        &__value {
            font-size: 24px;
            line-height: 34px;
            font-weight: 900;
            display: table-cell;
            vertical-align: top;
            position: relative;
            width: inherit;
            padding-left: 5px;
        }

        &__value.small {
            font-size: initial;
            font-weight: normal;
        }

        &__row {
            height: 170px;
            display: flex;
            flex-flow: column wrap;

            &:nth-of-type(3) {
                height: 280px;
            }
        }

        &__divider {
            height: 1px;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.18);
            margin-bottom: 30px;
        }

        &__list {
            padding-top: 30px;
            padding-bottom: 20px;
            background-color: #fff;
            list-style-type: initial;
            margin-left: -220px;
            margin-right: -180px;
            padding-left: 220px;
            padding-right: 180px;
            font-weight: 500;
            font-size: 18px;
            height: 190px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;

            li {
                width: 40%;
                margin-bottom: 20px;
            }
        }
    }

}