.product {
    width: 1280px;
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.18);
    position: relative;
    top: -180px;
    margin: 0px auto;
    background-color: #fff;
    color: $dark;
    padding-top: 30px;

    &-main {
        position: relative;
    }

    &-head {
        width: 100%;
        height: 272px;
        background-color: $dark_green;
    }

    &-wrapper {
        position: relative;
    }

    &-path {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;

        a {
            border-bottom: 1px solid $dark;
            margin: 0 10px;
            color: $dark;
            font-size: 14px;
        }

        img {
            object-fit: contain;
        }
    }

    &-print {
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 15px;

        svg path {
            fill: $dark;
            transition: $transition;
        }

        &:hover {
            svg path {
                fill: $accent;
            }
        }
    }

    &-title {
        font-size: 34px;
        text-align: center;
        font-weight: normal;
    }

    .slider {
        width: 860px;
        margin: 0px auto;
        margin-top: 35px;
        margin-bottom: 35px;

        &-item {
            display: flex !important;
            align-items: center;
            justify-content: center;

            img {
                max-height: 380px;
                display: block;
                object-fit: contain;
            }
        }
    }

    .slider-thumb {
        position: absolute;
        top: 140px;
        left: 50px;
        width: 70px;

        &-item {
            cursor: pointer;
            display: flex !important;
            justify-content: center;
            margin-bottom: 15px;
            padding: 4px 0px;
        }

        .slick-current {
            .slider-thumb-item {
                background-color: $accent;
                transition: $transition;
            }

        }
    }

    &-badge {
        color: #fff;
        background-color: $accent;
        padding: 5px 10px;
        margin-bottom: 15px;
        font-size: 12px;

        &__wrap {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            position: absolute;
            top: 140px;
            right: 0;
        }
    }

    &-btns {
        display: flex;
        justify-content: center;

        a,
        button {

            svg {
                margin-right: 5px;

                path {
                    fill: $dark;
                    transition: $transition;
                }
            }


            &:hover {
                svg path {
                    fill: $accent;
                }
            }
        }

        &__compare {
            display: flex;
            align-items: center;
        }

        &__order {
            color: #fff;
            margin: 0px 15px;
        }

        &__leasing {
            color: $dark;
            display: flex;
            align-items: center;
        }
    }

    &-extra {
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        margin-top: 15px;
    }

}